<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/main.css")
    title Document
  body
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis incidunt minus eligendi architecto eum obcaecati neque, suscipit eos, fugit nulla veniam. Blanditiis veritatis libero modi nobis consectetur. Vel, esse, aspernatur.
  
